{% set restyled="v2" %}
{% extends 'base.html' %}

{% set headerDropdownTheme = "dark" %}

{% block head_preload %}
    <link rel="preload" href="/assets/fonts/JetBrainsMono/JetBrainsMono-Regular.woff2" as="font">
    <link rel="preload" href="/assets/fonts/JetBrainsMono/JetBrainsMono-Bold.woff2" as="font">
    <link rel="preload" href="/assets/fonts/JetBrainsMono/JetBrainsMono-Italic.woff2" as="font">
{% endblock %}

{% block body_class %}page__index-new{% endblock %}

{% block page_outer_content %}
    <div id="react-app"></div>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css')|autoversion }}">
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='index.js')|autoversion }}"></script>
{% endblock %}
